*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main{
    background: linear-gradient(55deg,#dfaab3,#b4d7b4,#ffffba);
    width: 100%;
    min-height:100vh;
    
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.items{
    display: flex;
    gap:20%;
    align-items: center;
}
.logo h2{
    color: #ff00ff;
    font-size: 35px;
    font-weight: 200px;
    font-family:sans-serif;
    cursor: pointer;
}
.nav-items ul{
    display: flex;
    gap: 35px;
}
.nav-items ul li{
    list-style-type: none;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 200px;
    color: #ff00ff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav-items li:hover{
    color: #fff;
}

.icons i{
   color: rgb(185, 37, 37);
   font-size: 25px;
   cursor: pointer;
   border-radius: 10%;
   background-color: #fff;
   background: transparent;
}
.icons i:hover{
    color: #0d0b0b;
    background-color: aliceblue;
   

}

#search-btn{
    display:none;
    width: 15rem;
    border: 0;
    border-radius: 5%;
    transition: 0.18s ease;

    
}
.contenet{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:10%;
    
    
}
.left{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;

}
.left1{
    font-size: 25px;
    font-family: cursive;
    font-weight: 200px;
    margin-bottom: 10px;
    color: #fff;
}
.left2{
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 200px;
    margin-bottom: 10px;
    color: #fff;
}
.left3{
    font-size: 20px;
    font-family: cursive;
    color: #e19507;
    margin-bottom: 20px;
}
.left4{
   border: 2px solid white;
   border-radius: 30px;
   padding: 5px 15px;
   color: #ff00ff;
    
}
.ice_creem{
    background: url(/ice1.png);
    width: 300px;
    height: 300px;
    background-size: cover;
    border: 3px solid white;
    border-radius: 50%;

}
.menu-items{
    display: flex;
    margin-left: 15%;
    gap: 25px;
}
#item1,
#item2,
#item3,
#item4{
    border: 2px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#item1{
    background: url(starberry.jpg);
    background-size: cover;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
}
#item2{
    background: url(pistha.png);
    background-size: cover;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}
#item3{
    background: url(chocolet.png);
    background-size: cover;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}
#item4{
    background: url(mango.png);
    background-size: cover;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;

}
.ices{
    padding: 10px 20px;
    margin-top: 80px;
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;

}
.ice-images{
   
    
    margin-left: 10px;
    padding: 10px;
}
.ice-itms{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-left: 6%;
    margin-bottom: 5%;
    margin-top: 5%;
   
}
.ice1,.ice2,.ice3,.ice4{
    border: 2px solid white;
    width: 250px;
    height: 250px;
    
}
.ice1{
    background: url(ice-creem2.webp);
    background-size: cover;
    cursor: pointer;
    transition: transform 0.3s , box-shadow 0.3s ease;
}
.ice1:hover{
    transform: scale(1.10);
    box-shadow: 10px 0 25px rgba(0, 0, 0, 0.3);
}
.ice2{
    background: url(ice-creem4.png);
    background-size: cover;
    background-color: #e19507;
    cursor: pointer;
    transition: transform 0.3s , box-shadow 0.3s ease;

}
.ice2:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.ice3{
    background: url(pngtree-delice-creem1.png);
    background-size: cover;
    background-color: #e19507;
    cursor: pointer;   
    transition: transform 0.3s , box-shadow 0.3s ease;

}
.ice3:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.ice4{
    background: url(ice-creem3.png!sw800);
    background-size: cover;
    background-color: #e19507;
    cursor: pointer;
    transition: transform 0.3s , box-shadow 0.3s ease;

}
.ice4:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.container{
    /* background: linear-gradient(to right,#348f50,#56b4d3); */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-from{
    background: #dbd3d3;
    padding: 25px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 10px;

}
.contact-from h2{
    text-align: center;
    color:#ff00ff
}

.form-group{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 8px;
}
input,textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}
.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* space for the icon */
    height: 35px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #444;
}
button{
    background-color: #56b4d3;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    transition: .4s ease-in-out;
    border-radius: 5px;
}
button:hover{
    background-color: #348f50;
}


.footer{
    background-color: black;
    width: 100%;
    height: 50vh;
    margin-top: 5%;
    display: flex;
    align-items: center;
    padding: 5%;
}
.footer h2{
    font-size: 25px;
    color: #fff;
}

